<a href="https://colab.research.google.com/github/GirishKumarSK/AI_LAB_1BM21CS068/blob/main/AI_Lab1_10_11_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello")

Hello

In [ ]:
age = int(input("Enter your Age : "))
if age <=2 :
  print("You are a Baby")
elif age <=12:
  print("You are a Child")
elif age<18:
  print("You are a Teen")
elif age <= 40:
  print("You are a Adult Youth")
else :
  print("You are Old")

Enter your Age : 34
You are a Adult Youth

In [ ]:
print("****Multiplication Table****")
num = int(input("Enter the Number : "))
for i in range(1,11):
  print(f"{num} x {i} = {num*i}")

****Multiplication Table****
Enter the Number : 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
print("****Number Pattern****")
num = input("Enter the number(>=1) : ")
num_int = int(num)
res = ''
if(num_int == 1):
  print("1")
else:
  for i in range(1, num_int+1):
    gk = str(i)
    k = i
    res = ''
    while(k>0):
      res = res + gk
      k = k-1
    print(res +', ', end='')

****Number Pattern****
Enter the number(>=1) : 8
1, 22, 333, 4444, 55555, 666666, 7777777, 88888888,

In [ ]:
print("****Number Pattern****")
num = input("Enter the number(>=1) : ")
num_int = int(num)
res = ''
k = num_int
if(num_int == 1):
  print("1")
else:
  while k>0:
    res = ''
    for i in range(1, num_int - k + 2):
      gk = str(i)
      res = res + gk
    print(res + ', ', end = '')
    k = k - 1

****Number Pattern****
Enter the number(>=1) : 15
1, 12, 123, 1234, 12345, 123456, 1234567, 12345678, 123456789, 12345678910, 1234567891011, 123456789101112, 12345678910111213, 1234567891011121314, 123456789101112131415,

In [ ]:
input_string = input("Enter the list items with space between each item : ")
list_item = input_string.split()
n = len(list_item)
print(n)
for i in range(n):
  list_item[i] = int(list_item[i])

print(list_item)

for k in range(n):
  for j in range(n-k-1):
    if list_item[j] > list_item[j+1]:
      temp = list_item[j]
      list_item[j] = list_item[j+1]
      list_item[j+1] = temp

print("List after Sorting :")
print(list_item)

Enter the list items with space between each item : 12 3 67 1 34 3 76 11
8
[12, 3, 67, 1, 34, 3, 76, 11]
List after Sorting :
[1, 3, 3, 11, 12, 34, 67, 76]

In [ ]:
print("****Reverse the Integer****")
num = int(input("Enter the number : "))
res = 0
while num > 0:
  rem = num % 10
  res = res * 10 + rem
  num = num // 10
print(res)

****Reverse the Integer****
Enter the number : 3456
6543